picture quality:
    - UHD
    - retina
    - masterpiece
    - ccurate
    - anatomically correct
    - textured skin
    - super detail
    - high details
    - high quality
    - award winning
    - best quality
    - highres
    - 1080P
    - HD
    - 4K
    - 8k
    - 16k
    
Composition form:
    - afterimage
    - border
    - framed
    - outside border
    - fading border
    - rounded corners
    - viewfinder
    - chart
    - character chart
    - reference sheet
    - diagram
    - move chart
    - relationship graph
    - seating chart
    - stats
    - collage
    - column lineup
    - bust chart
    - cropped
    - fake scrollbar
    - head out of frame
    - out of frame
    - feet out of frame
    - isometric
    - letterboxed
    - pillarboxed
    - lineup
    - mosaic art
    - photomosaic
    - negative space
    - omake
    - partially underwater shot
    - social media composition
    - symmetry
    - polar opposites
    - rotational symmetry
    - tachi-e
    - trim marks
    - zoom layer
    - projected inset

angle of view:
    - first-person view
    - pov
    - three sided view
    - multiple views
    - cut-in
    - blurry foreground
    - close-up
    - cowboy shot
    - dutch angle
    - fisheye
    - hatching (texture)
    - vanishing point
    - wide shot
    - from above
    - from behind
    - from below
    - from outside
    - from side
    - atmospheric perspective
    - panorama
    - perspective
    - rotated
    - sideways
    - upside-down

shot:
    - lens flare
    - overexposure
    - bokeh
    - caustics
    - diffraction spikes
    - foreshortening
    - emphasis lines
    - satellite image
    - macro photo
    - 360 view
    - Wide-Angle
    - Ultra-Wide Angle
    - Eye-Level Shot
    - f/1.2
    - f/1.8
    - f/2.8
    - f/4.0
    - f/16
    - 35mm
    - 85mm
    - 135mm
    - Nikon
    - Canon
    - Fujifilm
    - Hasselblad
    - Sony FE
    - Sony FE GM

style:
    - Surrealism
    - Color Field painting
    - Art Deco
    - rococo style
    - high detail
    - blind box toy style
    - Cubist Futurism
    - Conceptual art
    - Futurism
    - Social realism
    - interior architecture
    - Renaissance
    - Neoclassicism
    - modern
    - anime
    - Minimalism
    - Romanticism
    - Gothic art
    - American propaganda poster
    - Tonalism
    - Baroque
    - Fauvism
    - Expressionism
    - Carl Larsson
    - Op art
    - Realism
    - Contemporary art
    - Genre painting
    - Constructivism
    - Mannerism
    - Bauhaus
    - Action painting
    - by Alfons Mucha
    - Dutch Golden Age painting
    - Pop art
    - Monet
    - Northern Renaissance
    - Dadaism
    - Ukiyo-e
    - Luminism
    - Abstract expressionism
    - Impressionism
    - Pre-Raphaelite Brotherhood
    - Classicism
    - Ghibli-like colours
    - Hyperrealism
    - Art Nouveau
    - Suprematism
    - Abstractionism
    - pre-rephaëlite painting
    - anime style
    - Post-Impressionism
    - En plein air
    - Pointillism
    - Verism
    - raised fist
    - Ashcan School
    - Pixar
    - Cubism

picture effect: 
    - chiaroscuro
    - depth of field
    - cinematic lighting
    - motion blur
    - chromatic aberration
    - sparkle
    - jpeg artifacts
    - blurry
    - glowing light
    - god rays
    - ray tracing
    - reflection light
    - backlighting
    - blending
    - bloom
    - chromatic aberration abuse
    - dithering
    - drop shadow
    - film grain
    - Fujicolor
    - halftone
    - image fill
    - motion lines
    - multiple monochrome
    - optical illusion
    - anaglyph
    - stereogram
    - scanlines
    - silhouette
    - speed lines
    - vignetting
